pre.code>div.dark  /* --------------------------------- Dark code block style */
{
	background-color: black;
	color: white;
}

pre.dark  /* ---------------------------------------------------- Dark styles */
{
	color: rgb(227, 227, 227);
	background-color: rgb(27, 27, 37);
}

pre.dark>span.keyword
{
	color: rgb(157, 187, 255);
}

pre.dark>span.class
{
	color: rgb(157, 255, 187);
}

pre.dark>span.function
{
	color: rgb(157, 255, 187);
}

pre.dark>span.variable
{
	color: rgb(255, 157, 157);
}

pre.dark>span.string
{
	color: rgb(157, 157, 157);
}

pre.dark>span.comment
{
	color: rgb(157, 157, 157);
}

pre.dark>span.namespace
{
	color: rgb(157, 187, 255);
}