@import "codeBlock-dark.css";
@import "codeBlock-light.css";

/* Code Block --------------------------------------------------------------- */
pre.code
{
	width: 80%;
	margin-left: .5in;
	padding: .13in .13in .13in .13in;
	font-family: monospace;
	font-size: 0.9rem;
}

pre.code>div.filename  /* ----------------------------------- Filename styles */
{
	width: 100%;
	margin-top: -.13in;
	margin-left: -.13in;
	padding: .13in .13in .13in .13in;

	font-family: sans-serif;
	font-weight: bold;
}