pre.code>div.light  /* ------------------------------- Light code block style */
{
	background-color: rgb(237, 237, 237);
	color: black;
}

pre.light  /* -------------------------------------------------- Light styles */
{
	color: rgb(27, 27, 27);
	background-color: white;
}

pre.light>span.keyword
{
	color: rgb(57, 97, 167);
}

pre.light>span.class
{
	color: rgb(17, 127, 57);
}

pre.light>span.function
{
	color: rgb(17, 127, 57);
}

pre.light>span.variable
{
	color: rgb(225, 97, 127);
}

pre.light>span.string
{
	color: rgb(157, 157, 157);
}

pre.light>span.comment
{
	color: rgb(157, 157, 157);
}

pre.light>span.namespace
{
	color: rgb(57, 97, 167);
}